cloud_id                 = "b1go530u337nds6mirmn"
folder_id                = "b1g952eluomosq274hif"
zone                     = "ru-central1-a"
image_id                 = "fd8um1bgfbvd0njeobtu"
public_key_path          = "~/.ssh/id_rsa.pub"
subnet_id                = "e9bij4a26440j28oieu3"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/id_rsa"
