cloud_id                 = "bla"
folder_id                = "foo"
zone                     = "ru-central1-a"
image_id                 = "vvv"
public_key_path          = "~/.ssh/id_rsa.pub"
subnet_id                = "ddd"
service_account_key_file = "key1.json"
private_key_path         = "~/.ssh/id_rsa"
app_disk_image           = "333"
db_disk_image            = "222"
